<div class="services-carousel">
    <div class="heading">
        <h2 class="title">More Services</h2>
        <p>Click an item below to learn more.</p>
    </div>

    <div class="services-carousel__carousel">
        <div class="container">
            <div class="services-carousel--wrapper">
                <div class="owl-carousel js-services-carousel">
                    {% for service in services %}
                        <div class="services-carousel__item">
                            <a href="#" data-toggle="modal" data-target="#service-modal{{ service.modalTarget }}"><div class="services-carousel--image"><img src="assets/services/{{ service.image }}" alt="Service Image"></div></a>
                            <div class="services-carousel__title">
                                <a href="#" data-toggle="modal" data-target="#service-modal{{ service.modalTarget }}"><h5>{{ service.title }}</h5></a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!--Service Modals-->
    <div class="service-modal-wrapper">
        {% for service in services %}
            <div id="service-modal{{ service.modalTarget }}" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{ service.titleFull }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-image"><img src="assets/services/{{ service.image }}" alt="services image"></div>
                            {% for paragraph in service.text %}
                                <p>{{ paragraph }}</p>
                            {% endfor %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endfor %}
    </div>
</div>
