<div class="team-carousel">

    <div class="team-carousel__carousel">
        <div class="container">
            <div class="team-carousel--wrapper">
                <div class="owl-carousel js-services-carousel">
                    {% for person in team %}
                        <a href="#" data-toggle="modal" data-target="#team-modal{{ person.modalTarget }}">
                            <div class="card card--{{ person.name }}">
                                <div class="card__image" style="background-image: url('/assets/team/{{ person.image }}')"></div>
                                <div class="card__text">
                                    <h5 class="card__title">{{ person.name }}</h5>
                                    <h6 class="card__sub">{{ person.title }}</h6>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/team__modals.twig' %}
</div>
